@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 24 100% 53%;
    --primary-foreground: 0 0% 100%;
    
    --secondary: 24 88% 94%;
    --secondary-foreground: 24 100% 53%;
    
    --muted: 220 23.08% 97.45%;
    --muted-foreground: 215.4 16.3% 46.9%;
    
    --accent: 225 18.18% 95.69%;
    --accent-foreground: 222.2 47.4% 11.2%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
  }
}

html {
  word-break: keep-all;
}

/* override nextra */
.nextra-container > nav {
  background: rgba(255, 255, 255, 0.75) !important;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
.dark .nextra-container > nav.dark\:bg-dark {
  background: rgba(17, 17, 17, 0.5) !important;
}
