{
  "root": true,
  "extends": "@daangn/eslint-config-karrot",
  // override 할 내용 추가
  "settings": {
    "react": {
      "version": "16.9"
    }
  },
  "rules": {
    "no-restricted-imports": "off"
  }
}
