# Dependencies
node_modules

/.idea/inspectionProfiles/Project_Default.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/.gitignore
/.idea/stackflow.iml

.DS_Store
lerna-debug.log

# Ultra runner cache
.ultra.cache.json

# Build artifacts
build
coverage
dist
lib

vite.config.js.timestamp-**
