/.vscode
/.yarn
/.pnp.js

/packages/karrotframe/node_modules
/packages/karrotframe/lib

/examples/playground/node_modules
/examples/playground/build
/examples/with-cra/node_modules
/examples/with-cra/build

