/.vscode
/.yarn
/.pnp.js

/packages/karrotframe/node_modules
/packages/karrotframe/index.css
/packages/karrotframe/index.d.ts
/packages/karrotframe/index.js
/packages/karrotframe/index.js.map

/examples/playground/node_modules
/examples/playground/build
/examples/with-cra/node_modules
/examples/with-cra/build

