.navbarContainer {
  background-color: #fff;
  position: absolute;
  width: 100%;
  top: 0;
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}

.navbarMain {
  display: flex;
  position: relative;
}
:global(.kf-android) {
  .navbarMain {
    height: 3.5rem;
    box-shadow: inset 0px -1px 0 rgba(0, 0, 0, 0.07);
  }
}
:global(.kf-cupertino) {
  .navbarMain {
    height: 2.75rem;
    box-shadow: inset 0px -0.5px 0 rgba(0, 0, 0, 0.12);
  }
}

.navbarFlex {
  display: flex;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
}

.navbarLeft {
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  height: 100%;

  &:empty {
    display: none;
  }
}

.navbarBack {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  opacity: 1;
  transition: opacity 300ms;
  width: 2.25rem;
  height: 2.75rem;

  &:active {
    opacity: 0.2;
    transition: opacity 0s;
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.navbarCenter {
  flex: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.navbarCenterMain {
  display: block;
}
:global(.kf-android) {
  .navbarCenterMain {
    font-family: 'Noto Sans KR', sans-serif;
    justify-content: flex-start;
    padding-left: 1rem;
    font-size: 1.1875rem;
    line-height: 1.5;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;

    &.isLeft {
      padding-left: 0.375rem;
    }
  }
}
:global(.kf-cupertino) {
  .navbarCenterMain {
    font-family: -apple-system, BlinkMacSystemFont;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    transform: translate(-50%);
  }
}

.navbarCenterMainText {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: inherit;
  font-weight: inherit;
  width: 100%;
}

.navbarCenterMainEdge {
  position: absolute;
  top: 0;
  left: 50%;
  height: 1.25rem;
  transform: translate(-50%);
  max-width: 5rem;
  display: none;
}

:global(.kf-cupertino) {
  .navbarCenterMainEdge {
    display: block;
  }
}

.navbarRight {
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: auto;
  position: relative;
  z-index: 1;

  &:empty {
    display: none;
  }
}

.navbarClose {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: flex;
  opacity: 1;
  transition: opacity 300ms;
  width: 2.25rem;
  height: 2.75rem;

  &:active {
    opacity: 0.2;
    transition: opacity 0s;
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}
